#filters-container a {
  text-decoration: none;
  font-size: 0.9em;
}
#filters-container a:hover {
  color: #1488d4;
}
/*.filters_box{
    margin-left:30px;
}*/
.filter-ul-holder {
  list-style-type: none;
  width: 100%;
  margin-left: -50px;
  margin-top: -1%;
  margin-bottom: 2px;
}
.filter-ul-holder li {
  background-color: white;
  font-size: 0.9em;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
}
.filter-ul-holder li a {
  text-decoration: none;
  color: #333;
}
.filter-ul-holder li a:hover {
  color: #1488d4 !important;
}
.filter-ul-holder li.not-classifier {
  padding-left: 50px;
  font-size: 0.8em;
}
.filter-ul-holder li.f-black a {
  color: black;
}
.filter-ul-holder li span.f-blue {
  font-size: 0.7em;
}
.filter-ul-holder #pChosenFiltersBody .filter-ul-holder.selected-filters > span {
  color: #003399;
}
#dSearchResultContainer #pChosenFilters > span:first-child {
  background: white;
  display: inline-block;
  color: #003399;
}
.filter-title {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 4px;
  margin-top: 1px;
  display: inline-block;
  width: 100%;
  margin-left: -24px;
  padding-left: 19px;
  cursor: pointer;
}
.title_filter {
  margin-left: 10px;
  text-decoration: none;
  font-size: 0.85em;
  color: #1764a5;
  font-weight: bold;
  margin-bottom: 4px;
  display: inline-block;
  cursor: pointer;
}
.title_filter:hover {
  color: #1488d4;
  text-decoration: underline;
}
#pAvaiableFilters {
  background-color: white;
}
#pAvaiableFiltersBody > ul:first-child {
  background: #e8fcff;
  border-radius: 4px;
  border: 1.5px solid #3498db;
  padding: 5px;
  margin-bottom: 7px;
  width: 90%;
}
#pAvaiableFiltersBody > ul:first-child:hover {
  background: #1488d4;
  border: 1.5px solid #1488d4;
}
#pAvaiableFiltersBody > ul:first-child:hover a {
  color: #fff !important;
}
#pAvaiableFiltersBody > ul:first-child .m4p {
  display: flex;
  margin-top: 2px;
}
#pAvaiableFiltersBody > ul:first-child .m4p .www-line {
  margin-left: 2px;
  float: left;
  display: block;
}
#pAvaiableFiltersBody > ul:first-child .m4p a.filterItem {
  float: left;
  margin-left: 5px;
  color: #003399;
}
.btn_filter {
  background: #e8fcff;
  border-radius: 4px;
  border: 1.5px solid #3498db;
  padding: 5px;
  margin-bottom: 7px;
  width: 90%;
}
.btn_filter:hover {
  background: #1488d4;
  border: 1.5px solid #1488d4;
}
.btn_filter:hover a.title_filter_btn {
  color: #fff !important;
}
.btn_filter div:last-of-type span {
  display: block;
}
.btn_filter div:last-of-type span .title_filter_btn {
  text-decoration: none;
  color: #003399;
  cursor: pointer;
  font-size: 11.5px;
}
.btn_filter div:last-of-type span .title_filter_btn:hover {
  color: #fff;
}
.lang-en #right-buttons-container div:last-child {
  vertical-align: top;
  margin-top: 2px;
}
.lang-en #right-buttons-container div:last-child a {
  font-size: 0.9em;
}
.lang-it #right-buttons-container div:last-child,
.lang-bg #right-buttons-container div:last-child {
  vertical-align: top;
  margin-top: 4px;
}
.lang-bg #pAvaiableFiltersBody > ul:first-child .m4p a.filterItem,
.lang-it #pAvaiableFiltersBody > ul:first-child .m4p a.filterItem {
  float: left;
  margin-left: 5px;
  margin-top: 2px;
}
.lang-en #right-buttons-container,
.lang-en .main-content .filters-container #pAvaiableFilters #pAvaiableFiltersBody > ul:first-child {
  font-size: 0.8em;
  padding: 5px;
}
.lang-it #right-buttons-container,
.lang-it .main-content .filters-container #pAvaiableFilters #pAvaiableFiltersBody > ul:first-child,
.lang-bg #right-buttons-container,
.lang-bg .main-content .filters-container #pAvaiableFilters #pAvaiableFiltersBody > ul:first-child {
  font-size: 0.7em;
  padding: 5px 0;
  display: inline-flex;
}
.btn_filter div {
  display: inline-block;
}
.disabled_btn {
  border-radius: 7px;
  border: 1.2px solid darkgrey;
  color: #333;
  padding: 7px 9px 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
.list_filters {
  text-decoration: none;
  font-size: 0.8em;
  color: #333;
}
.list_filters:hover {
  color: #1488d4;
}
.filter_menu {
  margin: 0;
  padding-inline-start: 25px;
}
.filter_menu ul {
  margin: 0;
  padding-left: 0;
}
.filter_menu ul li:hover {
  color: #1488d4;
}
.search-filter .filter-ul-holder {
  max-height: 24ex !important;
  overflow-y: auto;
}
#pChosenFilters .filter-ul-holder {
  margin-left: -40px;
}
#pChosenFilters .filter-ul-holder li span {
  font-size: 0.8em;
  color: #003399;
}
.search-filter {
  /*background-color: white;*/
  width: 100%;
}
.filter {
  color: #616161;
  background-color: white;
  padding-left: 5%;
  font-size: 0.8em;
  margin-top: -1%;
  margin-left: 6px;
  position: relative;
}
.filter b {
  color: #1764a5;
}
.filter-more-link,
.filter-more-link:hover {
  color: #616161 !important;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 3px;
}
.filterItem {
  text-decoration: none;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.filterItem:hover {
  color: #1D4258 !important;
}
.remove-all-filters-li {
  text-align: right;
  padding-right: 5px;
}
#btnRemoveAllFilters,
#bntRemoveAllFilters:hover {
  color: #6f6f6f !important;
  font-weight: bold;
  font-size: 0.8em;
  text-align: right !important;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
#btnRemoveAllFilters:hover,
#bntRemoveAllFilters:hover:hover {
  color: #3498db !important;
}
#btnRemoveAllFilters span,
#bntRemoveAllFilters:hover span {
  font-size: 1em !important;
}
/*-----*/
body *::selection {
  background: #148dd4 !important;
  color: white;
}
body *::-moz-selection {
  background: #148dd4 !important;
  color: white;
}
/*--- Body ---*/
.periods-container,
.filters-container {
  margin-left: 0.5%;
  width: 17.5%;
  float: left;
}
.body-demo #doc-list-container,
.body-container #doc-list-container {
  width: 81%;
  margin-right: 0.5%;
  float: left;
}
/*.body-demo #doc-view-top-holder {
    width: 20%;
}*/
/*.body-demo #doc-view-container,
.body-demo #doc-view-top-bar {
    width: 70%;
    margin-left: 30%;
}*/
#secMainContentLeft {
  float: left;
  width: 20%;
}
#secMainContentRight {
  float: left;
  width: 80%;
}
li span.list-title {
  display: block;
  padding: 5px;
}
li span.list-item {
  display: block;
  padding: 5px;
}
.footer-font-style-1 {
  font-size: 0.6em;
  color: #148ed7;
}
.footer-menu ul li {
  padding-left: 13px !important;
  font-size: 0.65em !important;
}
#dSearchResultContainer {
  margin-left: 20px;
}
/*--- Doc View ---*/
.matchborder {
  border: 2px solid #1488d4 !important;
}
.btn-my-docs {
  margin-top: -5px !important;
  margin-right: 8px;
}
#sort-menu {
  outline: 0 !important;
  border-radius: 0;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}
.ui-datepicker {
  font-size: 0.8em;
  /*border: 1px solid #148dd4;*/
}
.ui-datepicker-header {
  background-image: none !important;
  background-color: #d7eaf8;
  color: #e0e0e0;
  font-weight: bold;
  box-shadow: inset 0 1px 1px 0 rgba(250, 250, 250, 0.2);
  text-shadow: 1px -1px 0 #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border: 0;
}
#languages-list {
  list-style-type: none;
}
#languages-list .lang {
  width: 200px;
}
.fixed-dialog {
  position: fixed;
  top: 50px;
  left: 50px;
}
#sort-button {
  float: left;
}
a[data-title]:hover:after,
span[data-title]:hover:after,
img[data-title]:hover:after {
  content: attr(title);
  font-size: 0.7em;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  background-color: #1488d4;
  color: white;
}
.tree-node-last > span.fancytree-expander {
  display: none;
}
.tree-node-last:before {
  content: "• ";
}
.tree-node-last {
  padding-left: 12px !important;
  text-align: left;
  text-indent: -12px !important;
}
.ui-button,
.ui-button.ui-state-active {
  background: none !important;
  background-color: #1488d4 !important;
  color: white !important;
  border-radius: 0 !important;
}
.ui-dialog-title {
  font-size: 0.8em !important;
}
#libor-options,
#stock-index-options,
#fins-currency-options {
  text-align: center;
  background-color: #1488d4 !important;
  color: white;
  border: 1px solid white;
}
.a-libor {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.a-libor:hover {
  color: #1488d4 !important;
}
.a-finances-stat {
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.a-finances-stat:hover {
  color: #3498db !important;
}
#chart-original-container-eur,
#chart-original-container-usd,
#chart-original-container-gbp {
  background-color: #f7f7f7;
}
.finances-table {
  font-size: 0.7em;
  text-align: center;
}
.finances-table thead {
  background-color: #1488d4;
  color: white;
}
.finances-table tr:nth-child(2n) {
  background-color: #efefee;
}
.my-searches-btn-load {
  font-size: 1em !important;
  color: black !important;
}
.my-searches-btn-load:hover {
  color: #1488d4 !important;
}
#wrapper-product-features {
  margin-top: 10px;
  margin-left: 27%;
  padding: 20px;
  background-color: #297FB8;
  color: white;
  background-size: 100%;
}
.container-feature-img {
  padding-top: 2px;
}
.container-feature-img img {
  cursor: pointer;
  width: 243px;
  border: 2px solid #fcb646;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;
  box-shadow: 0 0 10px #148dd4;
}
.container-feature-img img:hover {
  border-color: #fcb646;
  -webkit-filter: brightness(85%);
}
#wrapper-product-features-btn-container {
  margin-top: -3px;
  padding: 20px;
  margin-left: 27%;
  background: url('/Content/Images/pattern2.png');
}
#product-features-img-carousel {
  margin-left: 18%;
  width: 60%;
}
.fotorama__caption__wrap {
  background-color: #148dd4 !important;
  color: white !important;
  opacity: 0.8;
}
#delimiter-product-features {
  width: 42%;
  margin-left: 27.1%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #148dd4, rgba(0, 0, 0, 0));
}
.fotorama__wrap {
  background-color: #efefee;
}
.fotorama__thumb {
  border: 1px solid #fcb646;
  box-shadow: 0 0 10px #148dd4;
}
.icon-hint {
  visibility: hidden;
}
.hint-example {
  color: white;
}
.hint-example:hover {
  color: #3498db;
}
.fotorama__caption {
  top: 1% !important;
  left: 42% !important;
}
a.white-link:link,
a.white-link:visited {
  color: #fff;
  text-decoration: none;
}
/* mouse over link */
a.white-link:hover,
a.white-link:active {
  color: #fff;
  text-decoration: underline;
}
#secSearchTrials {
  background-color: #1488d4;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  border: 2px solid white;
  position: absolute;
  right: 5px;
}
#wrapper-product-features-contact-container {
  margin-left: 26%;
}
#btn-edit-search {
  width: auto;
  max-width: 200px;
  max-height: 28px;
}
.node-national-caselaw-first-level .fancytree-title {
  color: #148dd4;
  font-weight: bold;
  font-style: italic;
}
.user-icon-header {
  font-size: 1.2em !important;
  margin-right: -7px;
}
.ui-dialog .ui-dialog-title {
  font-weight: normal !important;
}
.context-menu-in-link {
  margin-left: 5px !important;
  margin-top: 5px !important;
  border-radius: 0 !important;
  padding-left: 5px;
  padding-right: 5px;
}
.context-menu-in-link .context-menu-item:hover {
  background-color: #1488d4 !important;
  color: #3498db !important;
}
.inline-link-tipped {
  display: block;
  background-color: white;
  color: black;
  font-size: 1.3em;
  text-decoration: none;
  min-width: 120px;
  width: 96%;
  padding-left: 4%;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}
.inline-link-tipped:last-child {
  margin-bottom: 0 !important;
}
.inline-link-tipped:hover {
  background-color: #1488d4;
  color: white;
}
.qtip-inline-hint {
  height: auto !important;
  border: none !important;
  min-width: 150px;
  width: auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: white !important;
  border: 1px solid #ccc !important;
  overflow-x: visible;
  padding: 2px;
}
.qtip-inline-hint .qtip-content {
  padding: 0 !important;
  height: auto !important;
  overflow-y: hidden;
  overflow-x: visible;
}
.article-provisions-list-content {
  border-top: 1px solid #e5e5e5;
}
.article-provisions-list-header {
  background-color: white !important;
  color: #1488d4 !important;
  font-size: 1.3em;
  padding-top: 3px;
  padding-bottom: 5px;
  cursor: default;
  width: 100% !important;
  white-space: nowrap;
  font-weight: bold;
}
#mobile-container-products {
  display: none;
}
#demo-announcement-container {
  position: fixed;
  background-color: #f7f7f7;
  width: 100%;
  z-index: 4;
  margin-top: -9px;
  padding-left: 20%;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#demo-announcement-container a {
  text-decoration: none;
  color: #1488d4;
}
.period-container {
  padding-left: 12px;
  height: auto;
  border: 1px solid #e0e0e0;
  border-left: 2px solid #148dd4;
  font-size: 0.8em;
}
.period-container a {
  color: inherit;
  text-decoration: none;
}
.period-list {
  padding: 0;
  margin: 0;
}
.period-list .period-list-item {
  font-size: 0.7em;
  padding: 1px 10px 5px 10px;
  display: none;
}
.period-list .period-list-item a {
  padding: 0px 0px 0px 50px;
  color: inherit;
  text-decoration: none;
  display: block;
  border: 1px solid transparent;
}
.period-list .period-list-item a:hover {
  background-color: #E5F3FB;
  border-color: #70C0E7;
}
.period-list .period-list-item.expanded {
  display: block;
}
.period-list-archive {
  margin: 0;
  padding-left: 20px;
}
.period-list-archive .period-list-archive-item {
  display: none;
}
.period-list-archive .period-list-archive-item.expanded {
  display: block;
}
.period-container-chevron,
.period-container-chevron-archive {
  font-size: 0.8em;
  float: right;
  padding: 5px 5px 0 0;
  cursor: pointer;
}
.banner-container {
  display: none;
}
.body-demo .banner-container {
  display: none;
}
.banner-container {
  cursor: pointer;
  margin-bottom: 15px;
}
.banner-container-wide {
  width: 728px;
  height: 90px;
}
.banner-container-box {
  width: 300px;
  height: 250px;
}
#pChosenFilters {
  margin-right: 30px;
}
.filter-selected-pill {
  background: #efefef;
  color: #3498db !important;
  padding: 3px 5px;
  border-radius: 7px;
  margin: 0.2em 0px;
  display: inline-block;
}
.filter-ul-holder.selected-filters li {
  display: inline-block;
}
.selected-filter-remove {
  color: #3498db !important;
  font-size: 1em !important;
}
.selected-filter-remove:hover {
  color: #54a004 !important;
}
#pChosenFiltersBody {
  margin-top: 20px;
}
#pChosenFilters {
  margin-bottom: 20px;
  margin-right: 0 !important;
}
#dSearchResultContainer {
  padding-top: 0 !important;
}
.filter-ul-holder.selected-filters {
  margin-left: 0 !important;
  font-size: 0.8em;
  margin-top: -10px;
}
.input-validation-error {
  border: 1px solid red !important;
}
#list-enactment-choose li.selected,
#list-provision-choose li.selected {
  background-color: #148dd4;
}
#list-enactment-choose li.selected a,
#list-provision-choose li.selected a {
  color: #fff !important;
}