.my-folders-container .fancytree-node.fancytree-active,
.my-folders-container .fancytree-node.fancytree-selected {
  background-color: #cbe8f6;
  border-color: #26a0da;
}
#link-wrapper {
  /*
    @media screen and (max-width: 900px) {
        text-align: initial;

        .add-new-folder-link {
            margin: 0 0;
        }
    }
    */
}
#link-wrapper .add-new-folder-link {
  margin-top: 4.4%;
}
/*
.folders-main-btn-cancel {
    @media screen and (max-width: 900px) {
        clear: both;
    }
}

.folders-main-btn-save {
    @media screen and (max-width: 900px) {
        float: left !important;
    }
}
*/
#my-documents-folders-container {
  float: left;
  width: 19%;
  overflow: auto;
}
#my-documents-docs-container {
  float: left;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #e0e0e0;
}
#my-documents-docs-container #my-documents-list-container {
  margin-top: 5px;
}
#my-documents-docs-container #doc-filter-pagination-container #top_paging {
  width: 100% !important;
  overflow: initial;
}
.container {
  cursor: auto;
}
.container.document-dragging {
  cursor: move;
}