@using Interlex.App.Resources

<div id="demo-initial-message" class="f-0-8">
    <div id="demo-initial-message-content">
        <!--googleoff: all-->
        <noindex>
            <div class="robots-nocontent" id="demo-initial-message-content-inner">
               @Html.Raw(Resources.UI_FreeTour_InitialMessage)
            </div>
        </noindex>
        <!--googleon: all-->
    </div>
</div>
