<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AkomaNtosoXml.Xslt.Core" version="4.2.14" targetFramework="net452" />
  <package id="AkomaNtosoXml.Xslt.Transformation" version="2.2.7" targetFramework="net452" />
  <package id="Apis.Common" version="2.25.19" targetFramework="net452" />
  <package id="Apis.Common.Celex" version="1.6.6" targetFramework="net452" />
  <package id="Apis.Common.Xml" version="1.2.1" targetFramework="net452" />
  <package id="Apis.Doc.Conversion.Publishers" version="1.0.1" targetFramework="net452" />
  <package id="Apis.Eucases.Common" version="2.1.22" targetFramework="net452" />
  <package id="ClassificationService" version="3.0.1" targetFramework="net452" />
  <package id="ClassificationServiceModel" version="2.0.0" targetFramework="net452" />
  <package id="DiffPlex" version="1.4.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net452" />
  <package id="IPAddressRange" version="3.2.0" targetFramework="net452" />
  <package id="IvanAkcheurov.NTextCat.Lib" version="0.2.1.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net452" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="UnidecodeSharpFork" version="1.0.0" targetFramework="net452" />
</packages>