@{
    ViewBag.Title = Resources.UI_404_Title;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using Interlex.App.Resources

<div class="width-100 padding-top-100 f-orange f-0-8">
    <div class="col-md-12 text-center text-primary ">
        <h3><span class="fa fa-exclamation-circle"></span> @Resources.UI_404_Title</h3>
        <h4>
            @{
                @: @Html.Raw(@String.Format(Resources.UI_404_Message, "<span class=\"f-blue\">" + ViewBag.Path + "</span>"))
            }
        </h4>
    </div>
</div>

