@{
    ViewBag.Title = Resources.UI_500_Title;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using Interlex.App.Resources
@using Interlex.BusinessLayer
@using Interlex.BusinessLayer.Models

<div class="width-100 padding-top-100 f-0-8 f-orange">
    <div class="col-md-12 text-center text-primary">
        <h3><span class="fa fa-exclamation-circle"></span> @Resources.UI_500_Title</h3>
        <h4>@Resources.UI_500_Message</h4>
    </div>
</div>