@using Interlex.App.Resources

<div class="width-100 padding-top-100 f-orange f-0-8">
    <div class="col-md-12 text-center text-primary ">
        <h3><span class="fa fa-exclamation-circle"></span> @Resources.UI_UnavaiableProduct</h3>
        <h4>
           @Resources.UI_UnavaiableProductEuroFinsMessage
        </h4>
    </div>
</div>

