<div class="footer_box">
    <div>
        <div class="p-grid footer_div">

            <div class="p-col-6">
                <div class="footer_eu_img">
                    <img src="./assets/img/eu_flag.svg" class="footer_flag">
                    <p [innerHTML]="'FOOTER.EU' | translate"></p>
                </div>
                <div class="footer_proj">
                    <p>{{'FOOTER.PROJECT' | translate}}</p>
                </div>
            </div>

            <div class="p-col-4 foot-middle">
                <div class="footer_list">
                    <ul>
                        <li><a href="http://www.interlexproject.eu/" target="_blank">{{'FOOTER.ABOUT-INTERLEX' | translate}}</a></li>
                        <li><a href="https://interlex-portal.eu/{{'FOOTER.LANGUAGE' | translate}}/index.html" target="_blank">{{'FOOTER.PORTAL' | translate}}</a></li>
                        <li><a href="https://interlex-portal.eu/{{'FOOTER.LANGUAGE' | translate}}/legal.html#privacy-policy" target="_blank">{{'FOOTER.PRIVACY-POLICE' | translate}}</a></li>
                        <li><a href="https://interlex-portal.eu/{{'FOOTER.LANGUAGE' | translate}}/legal.html#disclaimer" target="_blank">{{'FOOTER.DISCLAIMER-LINK' | translate}}</a></li>
                        <li><a href="https://interlex-portal.eu/{{'FOOTER.LANGUAGE' | translate}}/legal.html#copyright-notice" target="_blank">{{'FOOTER.LEGAL-NOTICE' | translate}}</a></li>
                    </ul>
                </div>
            </div>

            <div class="p-col-2 foot-right ">
                <div class="logo"></div>
            </div>

        </div>
    </div>
</div>


<!-- <div class="footer_box">
    <div>
        <div class="p-grid footer_div">

            <div class="p-col-5">
                <div class="footer_eu_img">
                    <img src="../../../assets/img/eu_flag.svg" class="footer_flag">
                    <p [innerHTML]="'FOOTER.EU' | translate"></p>
                </div>

                <div class="footer_list">
                    <ul>
                        <li><a href="">{{'FOOTER.ABOUT-INTERLEX' | translate}}</a></li>
                        <li><a href="">{{'FOOTER.PORTAL' | translate}}</a></li>
                        <li><a href="">{{'FOOTER.PRIVACY-POLICE' | translate}}</a></li>
                        <li><a href="">{{'FOOTER.DISCLAIMER-LINK' | translate}}</a></li>
                        <li><a href="">{{'FOOTER.LEGAL-NOTICE' | translate}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="p-col-2 foot-middle"></div>

            <div class="p-col-5 foot-right">
                <p>{{'FOOTER.PROJECT' | translate}}</p>
                <div class="logo"></div>
            </div>
        </div>
    </div>
</div> -->
