@using Interlex.App.Helpers
@using Interlex.App.Resources

<fieldset class="width-80">
<legend>@Resources.UI_DocumentReference</legend>
    <div class="left width-50" id="cases-all-parties"></div> @* Parties *@
    <div class="left width-50" id="cases-all-natid-ecli"></div> @* NatId / ECLI *@
    <div class="clearfix"></div>
    <div class="left width-50" id="cases-all-jurisdictions"></div> @* Jurisdictions *@
    <div class="left width-sb-dates-container sb-dates-container" id="cases-all-dates"></div> @* Dates *@
    <div class="clearfix"></div>
</fieldset>
<div class="clearfix"></div>

@*<fieldset class="width-80">
    <legend>@Resources.UI_ReferedEUActProvision</legend>
    <div class="left width-100" id="cases-all-enactment"></div>  @* Enactment 
    <div class="left width-50" id="cases-all-provision"></div> @* Provision 
    <div class="clearfix"></div>
</fieldset>
<div class="clearfix"></div>*@

@*<fieldset class="width-80">
    <legend>@Resources.UI_Classifiers</legend>
    <div class="left width-50" id="cases-all-eurovoc"></div> @* Eurovoc 
    <div class="left width-50" id="cases-all-subject-matter"></div> @* Subject matter 
    <div class="clearfix"></div>
    <div class="left width-50" id="cases-all-directory-caselaw"></div> @* Directory caselaw 
    <div class="left width-50" id="cases-all-eurocases-classifier"></div> @* Eurocases classifier 
    <div class="clearfix"></div>
    <div id="cases-all-directory-caselaw-show-full" class="directory-caselaw-show-full"></div> @* Checkbox for full directory caselaw (before/after Lisbon Treaty) 
</fieldset>*@
