@using Interlex.App.Helpers
@using Interlex.App.Resources

<fieldset class="width-80">
    <legend>@Resources.UI_DocumentReference</legend>
    <div class="left width-50" id="cases-echr-applicant"></div> @* Applicant *@
    <div class="left width-50" id="cases-echr-respondent-state"></div> @* Respondent state *@
    <div class="clearfix"></div>
    <div class="left width-50" id="cases-echr-originating-body"></div> @* Originating body *@
    <div class="left width-sb-dates-container sb-dates-container" id="cases-echr-dates"></div> @* Dates *@
    <div class="clearfix"></div>
    <div class="left width-50">
        <div class="left width-100" id="cases-echr-application-number"></div> @* Application number *@
       @* <div class="left width-50" id="cases-echr-year"></div> @* Year *@
        <div class="clearfix"></div>
    </div>
    <div class="left width-50" id="cases-echr-natid-ecli"></div> @* ECLI *@
    <div class="clearfix"></div>
    <div class="left width-50" id="cases-echr-document-type"></div> @* Document type *@
    <div class="left width-50" id="cases-echr-importance-level"></div> @* Importance level *@
    <div class="clearfix"></div>
</fieldset>
<div class="clearfix"></div>

<fieldset class="width-80">
    <legend>@Resources.UI_ReferedEUActProvision</legend>
    <div class="left width-50" id="cases-echr-refered-act"></div> @* Refered act *@
    <div class="left width-50" id="cases-echr-refered-act-provision"></div> @* Provision *@
    <div class="left width-50 display-none" id="cases-echr-hudoc-articles"></div> @* Hudoc articles *@
    <div class="left width-50 display-none" id="cases-echr-court-rules"></div> @* Rules of the court *@
    <div class="clearfix"></div>
</fieldset>
<div class="clearfix"></div>

<fieldset class="width-80">
    <legend>@Resources.UI_Classifiers</legend>
    <div class="left width-50" id="cases-echr-violation"></div> @* Violation *@
    <div class="left width-50" id="cases-echr-applicability"></div> @* Applicability *@
    <div class="clearfix"></div>
    <div class="left width-50" id="cases-echr-hudoc"></div> @* Hudoc *@
    <div class="left width-50" id="cases-echr-eurocases-classifier"></div> @* Eurocases classifier *@
    <div class="clearfix"></div>
</fieldset>
<div class="clearfix"></div>

