@using Interlex.App.Resources

@*<div class="width-100 margin-top-5">
    <div class="left width-30 text-right container-form container-logical-operators" style="margin-left: 15px;">
        <span class="fa fa-info-circle icon-hint tooltip f-blue-important" title="@Resources.Hint_LogicalExpressions"></span>
        <button id="cases-btn-tags-and" type="button" class="btn btn-small btn-lgrey f-blue btn-tag" onclick="insertAtCaret('SearchText',' [AND] '); return false;">AND</button>
        <button id="cases-btn-tags-or" type="button" class="btn btn-small btn-lgrey f-blue btn-tag" onclick="insertAtCaret('SearchText',' [OR] '); return false;">OR</button>
        <button id="cases-btn-tags-not" type="button" class="btn btn-small btn-lgrey f-blue btn-tag" onclick="insertAtCaret('SearchText',' [NOT]'); return false;">NOT</button>
        <button id="cases-btn-tags-near" type="button" class="btn btn-small btn-lgrey f-blue btn-tag" onclick="insertAtCaret('SearchText','[NEAR]' + document.getElementById('tag-near-input').value); return false;">NEAR</button>
        <input type="number" id="tag-near-input" class="input-blue" />
    </div>
    <div class="clearfix"></div>
</div>*@